@use "../common" as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-family-hankengrotesk;
  font-weight: $font-weight-medium;
  color: $color-neutral_darkgreyblue;
  line-height: 1.33333;
  margin: 0;
}
