@use '../common' as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-family-barlow;
  font-weight: $font-weight-regular;
  color: $color-neutral_600;
  line-height: 1.33333;
  margin: 0;
}
