.button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &--red {
    background-color: red;
    color: white;
  }

  &--dark {
    background-color: black;
    color: white;
  }
}

.svg {
  display: block;

  &--small {
    height: 100px;
  }

  &--medium {
    height: 200px;
  }

  &--large {
    height: 300px;
  }
}
