@use "../settings/colors" as *;

.bgcolor {
  &-lightred {
    background-color: hsl(0, 100%, 96%);
  }

  &-lightyellow {
    background-color: hsl(39, 100%, 96%);
  }

  &-lightgreen {
    background-color: hsl(166, 100%, 96%);
  }

  &-lightblue {
    background-color: hsla(231, 50%, 54%, 0.199);
  }

  &-darkblue {
    background-color: hsl(241deg 27% 25%);
  }
}
