/* This is an example file 
Please replace the content according to your design system */

$border-radius-01: 0;
$border-radius-02: 0.25rem; //4px
$border-radius-03: 0.5rem; //8px
$border-radius-05: 3.125rem; //50px
