/* ----- Primary Colors ----- */
$color-primary-red: hsl(0, 100%, 67%);
$color-primary-orange: hsl(39, 100%, 56%);
$color-primary-blue: hsl(234, 85%, 45%);
$color-primary-green: hsl(166, 100%, 37%);
$color-primary-white: #ffffff;

/* ----- Gradient Colors ----- */

$color-gradient-lightslateblue: hsl(252, 100%, 67%);
$color-gradient-lightroyalblue: hsl(241, 81%, 54%);
$color-gradient-violetblue: hsla(256, 72%, 46%, 1);
$color-gradient-persianblue: hsla(241, 72%, 46%, 0);

/* ----- Neutral Colors ----- */
$color-neutral-white: #171717;
$color-neutral-blue: #262626;
$color-neutral-lavender: #404040;
$color-neutral-darkgreyblue: #525252;
