/* This is an example file 
Please replace the content according to your design system */

@use './colors' as *;

/* $elevation-01: 0px 0px 4px rgba($color-complementary-03_100, 20%);
$elevation-02: 0px 1px 6px rgba($color-complementary-03_100, 20%);
$elevation-03: 0px 1px 10px rgba($color-complementary-03_100, 20%);
$elevation-20: 0px -1px 10px rgba($color-complementary-03_100, 20%); */
