@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.app {
  .score {
    background: linear-gradient(
      $color-gradient-lightslateblue,
      $color-gradient-lightroyalblue
    );
    border-radius: $border-radius-00 $border-radius-00 $border-radius-30
      $border-radius-30;

    &__yourresult {
      font-size: $font-size-18;
    }

    &__badge {
      display: flex;
      justify-content: center;
      align-items: center;

      @include isMediaDesktop() {
        width: 170px;
        height: 170px;
      }
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: linear-gradient(
        $color-gradient-violetblue,
        $color-gradient-persianblue
      );

      &__obtained {
        font-size: $font-size-60;
        font-weight: $font-weight-bold;
        color: $color-primary-white;
      }

      .total {
        color: $color-gradient-lightslateblue;
      }
    }

    @include isMediaDesktop() {
      flex-basis: 50%;
      border-radius: $border-radius-30;

      h1 {
        margin-top: 40px !important;
        margin-bottom: 12px !important;
      }

      &__text {
        padding: 0 5px;
        text-align: center;
      }
    }
  }

  .summary {
    @include isMediaDesktop() {
      flex-basis: 50%;
      box-shadow: 0px 25px 60px hsl(241, 81%, 54%, 0.2);
      border-radius: $border-radius-00 $border-radius-30 $border-radius-30
        $border-radius-00;
      margin-left: -30px !important;
      padding-left: 64px !important;

      h3 {
        font-size: $font-size-20;
      }
    }

    &__score {
      :nth-child(1) {
        font-weight: $font-weight-extrabold;
      }

      :nth-child(2),
      :nth-child(3) {
        color: rgb(168, 168, 168);
      }
    }

    button {
      font-size: $font-size-18;
    }
  }

  footer {
    text-align: center;
  }

  @include isMediaDesktop() {
    display: flex;
    flex-wrap: wrap;

    //center everything horizontally and vertically
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    footer {
      flex-basis: 100%;
      margin-top: 12px;
    }
  }
}
