@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.app {
  .score {
    background: linear-gradient(
      $color-gradient-lightslateblue,
      $color-gradient-lightroyalblue
    );
    border-radius: $border-radius-00 $border-radius-00 $border-radius-30
      $border-radius-30;

    &__badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      background: linear-gradient(
        $color-gradient-violetblue,
        $color-gradient-persianblue
      );

      &__obtained {
        font-size: $font-size-48;
        font-weight: $font-weight-bold;
        color: $color-primary-white;
      }
    }

    > p {
      color: $color-gradient-lightslateblue;
    }
  }
}
